/* General Styles */
body,
html {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
  background-color: #f4f4f4;
}

.container {
  width: 90%;
  margin: auto;
  padding-top: 1rem;
}

/* Header */
header {
  background: #2c3e50;
  color: white;
  padding: 1rem 0;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
}

nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}

nav ul li {
  padding: 0 15px;
}

nav ul li a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
  overflow: hidden; 
  display: inline-block;
}

ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #1abc9c; 
  transition: width 0.3s ease, left 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
  left: 0; 
}

.header-banner img {
  width: 100%;
  height: auto;
  display: block;
}

.subtitle {
  text-align: center;
  margin-top: -30px;
  background: #fff;
  display: inline-block;
  padding: 0.5rem 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  color: #333;
}

/* Section Styling */
.section {
  background: #fff;
  margin: 2rem 0;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.section h2 {
  color: #2c3e50;
  border-right: 3px solid #2c3e50;
  padding-right: 20px;
}

.section p {
  text-align: justify;
  max-width: 80%;
  padding: 2em;
}

/* Work Section */
.work {
  flex-direction: row;
  align-items: center;
}

.work .project-container {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  margin: 10px;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  width: calc(50% - 20px); 
  margin: 10px;

  background: #eef;
  padding: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.project img {
  width: 100%;
  height: auto;
}

/* Contact Section */
.contact-me {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-me p,
.social-links {
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  position: relative;
  color: #2c3e50;
  text-decoration: none;
  padding: 0 10px; 
  transition: color 0.3s;
  display: inline-block; 
  margin: 0 10px;
}

.social-links a::after {
  content: "";
  position: absolute;
  bottom: -5px; 
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #1abc9c; 
  transition: width 0.3s ease, left 0.3s ease;
}

.social-links a:hover::after {
  width: 100%;
  left: 0; 
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background: #333;
  color: white;
}

img {
  max-width: 100%;
  height: auto;
  display: block; 
}
